

.filter-center li a{
    display: block;
    overflow: hidden;
    line-height: 34px;
    padding: 0 15px;
    height: 34px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space: nowrap;
    border: 1px solid #ddd;
    margin: 3px;
}
.filter-center li a:hover,.filter-center li a.active{
    color: #F42121;
    border-color: #F42121;
}