.seckill-price{
    color:#d84523 ;
    margin-bottom: 0;

}

.seckill-price-sale {
    color:black ;
    font-size: 70%;
    text-decoration: line-through;
    margin-left: 1em;

}


.filter-center a{
    display: block;
    overflow: hidden;
    line-height: 34px;
    padding: 0 15px;
    height: 34px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space: nowrap;
    border: 1px solid #ddd;
    margin: 3px;
}

.filter-center a:hover,.filter-center a.active{
    color: #F42121;
    border-color: #F42121;
}

.pro-policy {
    color: #b0b0b0;
}

.pro-policy span {
    display: inline-block;
    margin-right: 15px;
    line-height: 30px;
    margin-bottom: 10px;
}

